.album-li {
  width: 150px;
  height: 150px;
  border: 5px solid black;
  cursor: pointer;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  margin-top: 10px;
}
