.navbar-main {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  opacity: 0.8;
}

.navbar-content {
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-left: 5px;
  color: white;
  opacity: 1;
}

.navbar-header {
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 20px;
  opacity: 1;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 23px;
  left: 20px;
}

.navbar-links {
  padding: 5px;
}

.navbar-links > li {
  padding: 14px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: left;
  display: flex;
  color: darkgrey;
}

.navbar-links > li:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}

.main {
  background: rgb(3,1,32);
  background: linear-gradient(352deg, rgba(3,1,32,1) 4%, rgba(29,29,47,1) 51%, rgba(68,94,105,1) 93%);
  height: 100vh;
  width: 100wh;
  background-size: cover;
  overflow-y: auto;
}

.navbar-user {
  bottom: 150px;
  left: 20%;
  position: absolute;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.navbar-user > li {
  text-decoration: none;
  display: inline-block;
}

.navbar-user > li > img {
  display: inline-block;
}


.btn-logout{
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border-radius: 2em;
  min-width: 80px;
  min-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid white;
}

.logout-images {
  width: 30px;
  height: 30px;
  background-size: cover;
  padding-bottom: 5px;
}

.welcome-name {
  padding-bottom: 10px;
}

.navbar-images {
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-right: 15px;
}
