.pshow-whole {
  background: linear-gradient(356deg, rgba(0,0,0,1) 28%, rgba(157,51,51,1) 94%);
  height: 100vh;
  width: 100wh;
  background-size: cover;
  overflow-y: auto;
}

.pshow-main {
  margin-left: 270px;
  margin-top: 25px;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.pshow-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
}

.pshow-info {
  position: relative;
  color: white;
  top: 270px;
  text-align: center;
}

#pshow-title {
  font-size: 27px;
  font-weight: 900;
}

#pshow-username {
  font-size: 15px;
  margin: 5px;
  color: darkgrey;
}

#pshow-username:hover {
  color: white;
  text-decoration: underline;
}

#pshow-length{
  padding-top: 5px;
  font-size: 13px;
  color: darkgrey;
  padding-bottom: 5px;
}

#btn-pshow-play {
  position: relative;
  background-color: #1db954;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 2em;
  min-width: 125px;
  min-height: 34px;
  margin: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 300;
}

#btn-pshow-play:hover {
  background-color: #00cc00;
  transition: background-color 0.2s ease-in-out;
  min-width: 127px;
  min-height: 36px;
}

#btn-follow, .artist-follow {
  position: relative;
  opacity: 0.8;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 2em;
  border: 1px solid white;
  min-width: 125px;
  min-height: 34px;
  margin: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 300;
}

#btn-follow:hover, .artist-follow:hover {
  min-width: 127px;
  min-height: 36px;
}

.pshow-more{
  display: flex;
  position: absolute;
  left: 46%;
}

.artist-follow {
  font-family: 'Roboto', sans-serif;
  margin-left: 15%;
}
