.content-main {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.playlist-nav {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  letter-spacing: 1.4px;
  font-size: 13px;
  padding-left: 9%;
  padding-bottom: 30px;
}

.playlist-nav > li {
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.8;
}

.playlist-nav > li:hover {
  opacity: 1;
}

.playlist-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 15%;
  padding-right: 100px;
}

.playlist-li {
  width: 150px;
  height: 150px;
  cursor: pointer;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
  box-shadow:-1px 2px 18px #000000;
}

.playlist-li > a > img {
  height: 100%;
}

#p-images {
  height: 100%;
}

.playlist-li:hover{
  opacity: .6;
  cursor: pointer;
}

.playlist-title {
  letter-spacing: 1px;
  font-size: 13px;
  color: white;
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
}

.playlist-username {
  letter-spacing: 1px;
  font-size: 13px;
  color: grey;
  padding: 3px;
}

#btn-playlist-new {
  background-color: #1db954;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius:2em;
  min-width: 140px;
  min-height: 33px;
  margin: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 300;
}

#btn-playlist-new:hover {
  background-color: #00cc00;
  transition: background-color 0.2s ease-in-out;
  min-width: 145px;
  min-height: 35px;
}

.album-ul {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  position: inherit;
  justify-content: safe;
  padding-left: 230px;
}

.artist-li {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
  box-shadow:-1px 2px 18px #000000;
}

.playlist-new {
  position: absolute;
  right: 3%;
  top: 1%;
}
