.songs-index {
  color: white;
  align-items: center;
  position: relative;
  width: 80%;
  left: 250px;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  padding-top: 10px;
}

.songs-index > ul {
  display: flex;
  justify-content: space-between;
}
