.songs-index {
  color: white;
  text-align: center;
  position: relative;
  width: 60%;
  padding-left: 25%;
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  padding-top: 20px;
}

.songs-index > ul {
  display: flex;
  justify-content: space-between;
}
