.main-splash-page {
  background-image: image-url("login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wh;
  display: flex;
  flex-direction: column;
 }

.splash-links {
}

.splash-description {
  color: #FFFFFF;
}

.splash-description > h2 {
  color: #1DB954;
}
